<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cake Geeks</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/auth/auth.css}">
    <link rel="stylesheet" th:href="@{/style.css}">

    <script>
        const func = () => {
            const authorizeUrl = "auth/authorize"
            const authorization = "Bearer " + localStorage.getItem("jwtToken");
            fetch(authorizeUrl, {
                method: 'GET',
                headers: {
                    "Authorization": authorization,
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Methods": "DELETE, POST, GET, OPTIONS",
                    "Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization",
                    'Content-Type': 'application/json'
                },
            }).then(response => {
                response.json().then((data) => {
                    if (response.status === 200) {
                        const username = localStorage.getItem("username");
                        localStorage.setItem("jwtToken", data.Authorization);
                        const welcomeMessage = $(`<h1>Welcome ${username}</h1>`);
                        welcomeMessage.insertBefore($("#order-cake"));
                    } else {
                        localStorage.clear();
                        window.location.href = "/";
                    }
                });
            }).catch(e => {
                localStorage.clear();
                window.location.href = "/";
            });
        }
        func();
    </script>
</head>
<body>
<nav class="mb-4 navbar navbar-expand-lg navbar-dark" id="navbar-main">
    <a class="navbar-brand ml-3">CakeGeeks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText1" aria-controls="navbarText1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText1">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-3">
                <a class="nav-link waves-effect waves-light" id="sign-out">Sign out</a>
            </li>
        </ul>
    </div>
</nav>

<!-- MAIN CONTENT -->
<div class="main-content">
    <div class="container" id="dashboard">
        <div class="row2">
            <img th:src="@{/auth/cake.png}">
        </div>
        <a id="order-cake" class="button-fill btn btn-info pilih" >Order cake</a>
    </div>
    <div class="container" id="chooseCake" style="display: none;">
        <form id="formCake">
            <h3> Select Your Base Cake </h3>
            <select name="type" class="form-control-lg" id="cakeType">
                <option selected disabled></option>
                <option value="cheese cake">Cheese Cake</option>
                <option value="chiffon cake">Chiffon Cake</option>
            </select>
            <h3> Select Your Base Customize </h3>
            <select name="base" class="form-control-lg" id = "customize">
                <option selected disabled></option>
                <option value="less sugar">Less Sugar</option>
                <option value="og">Original</option>
            </select>
            <br>
            <br>
            <button class="btn btn-info" id ="topping">Pilih Topping</button>
        </form>
    </div>
    <div class="container" id="chooseTopping" style="display: none;">
        <div class="container">
            <form class ="form-topping" id="formTopping" action="">
                <h3> Topping </h3>
                <select class="form-control-lg" id="toppings0">
                    <option selected disabled></option>
                    <option value="Almond">Almond</option>
                    <option value="Candy">Candy</option>
                    <option value="Cheese">Cheese</option>
                    <option value="Fruits">Fruits</option>
                    <option value="IcingFondant">Icing Fondant</option>
                    <option value="WhippedCream">Whipped Cream</option>
                </select>
                <br>
                <br>
                <div id="inner"></div>
                <div class="d-grid gap-2 d-md-block">
                    <button id = "moreTopping" class="btn btn-outline-secondary btn-md topping" type="button"> + Tambah Topping</button>
                    <br>
                    <br>
                    <button class="btn btn-primary btn-lg" id = "submitTopping" >Buat Kue</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container" id="history">
    <div>
        <h3 style="align-self: center">Your History</h3>
    </div>
    <table>
        <thead id="tablehead">
        <tr>
            <th>
                Cake
            </th>
            <th>
                Price
            </th>
            <th>
                Time
            </th>
        </tr>
        </thead>
        <tbody id="tablebody">
        </tbody>
    </table>

</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(() => {
        const url = "/history";
        fetch(url, {
            method: 'GET',
            headers: {
                "Authorization": "Bearer " + localStorage.getItem("jwtToken"),
                "Access-Control-Allow-Origin": "*",
                "Access-Control-Allow-Methods": "DELETE, POST, GET, OPTIONS",
                "Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization",
                'Content-Type': 'application/json'
            },
        }).then(response => {
            response.json().then((data) => {
                console.log(data);
                for (let i = 0; data.length; i++) {
                    const item = data[i];
                    const tr = $("<tr></tr>");
                    const name = item.cakeName;
                    const price = item.price;
                    const time = item.time;

                    tr.append(`<td>${name}</td><td>${price}</td><td>${time}</td>`);
                    $("#tablebody").append(tr);
                }
            })
        })
    });
</script>
<script>
    var cake_id = 0;
    var count = 1;
    $("#sign-out").click(() => {
        localStorage.clear();
        window.location.href = "/";
    });
    $("#order-cake").click(function() {
        $('#dashboard').hide();
        $('#chooseCake').show();
    });
    $("#formCake").submit(function(e) {
        e.preventDefault();
        var a = document.getElementById("cakeType").selectedIndex;
        var b = document.getElementsByTagName("option")[a].value;
        var cake = b;
        var c = document.getElementById("customize").selectedIndex;
        var d = document.getElementById("customize").getElementsByTagName("option")[c].value;
        var custom = d;
        const request_body = {"cake":cake, "custom":custom}

        $.ajax({
            method : 'POST',
            url : window.location.href.replace("dashboard","nextstep"),
            data : JSON.stringify(request_body),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
                cake_id = response.id;
                $('#dashboard').hide();
                $('#chooseCake').hide();
                $('#chooseTopping').show();
            },
            error: function(error){
                console.log(error.responseText)
            },
        });
        $("#moreTopping").click(function() {
            $("#inner").append("<h3> Topping </h3>");
            var id = "toppings" + count++;
            var res = "<select class='form-control-lg' id = " + id + "> <option selected disabled></option> <option value='Almond'>Almond</option>  <option value='Candy'>Candy</option><option value='Cheese'>Cheese</option><option value='Fruits'>Fruits</option> <option value='IcingFondant'>Icing Fondant</option> <option value='WhippedCream'>Whipped Cream</option> </select>"
            $("#inner").append(res)
            $("#inner").append("<br>")
            $("#inner").append("<br>")
        });
        $("#formTopping").submit(function(e) {
            e.preventDefault();
            var x = document.getElementById("toppings0").selectedIndex;
            var y = document.getElementById("toppings0").getElementsByTagName("option")[x].value;

            var toppings = y;

            for (i = 1; i < count; i++){
                var id = "toppings" + i;
                var x = document.getElementById(id).selectedIndex;
                var y = document.getElementById(id).getElementsByTagName("option")[x].value;
                toppings += " " + y;
            }
            const request_body = {"toppings" : toppings};
            $.ajax({
                method : 'POST',
                url : window.location.href.replace("dashboard", cake_id + "/addTopping"),
                data : JSON.stringify(request_body),
                contentType: "application/json; charset=utf-8",
                success: function(response) {
                    let rd = "transaction/" + cake_id + "/order";
                    window.location.href = window.location.href.replace("dashboard", rd);
                },
                error: function(response){
                    alert("error");
                },
            });
        });
    });
</script>
</html>
