<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cake Geeks</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/auth/auth.css}">
    <link rel="stylesheet" th:href="@{/style.css}">

    <script>
        const func = () => {
            const authorizeUrl = "auth/authorize"
            const authorization = "Bearer " + localStorage.getItem("jwtToken");
            fetch(authorizeUrl, {
                method: 'GET',
                headers: {
                    "Authorization": authorization,
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Methods": "DELETE, POST, GET, OPTIONS",
                    "Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization",
                    'Content-Type': 'application/json'
                },
            }).then(response => {
                if (response.status === 200) {
                    window.location.href = "/dashboard";
                }
            });
        }
        func();
    </script>
</head>
<body>
<nav class="mb-4 navbar navbar-expand-lg navbar-dark" id="navbar-main">
    <a class="navbar-brand ml-3">CakeGeeks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText1" aria-controls="navbarText1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText1">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-3">
                <a class="nav-link waves-effect waves-light" id="login-signup1">Sign Up</a>
                <a class="nav-link waves-effect waves-light" id="login-signup2" style="display: none">Login</a>
            </li>
        </ul>
    </div>
</nav>

<!-- MAIN CONTENT -->
<div class="big-row">
    <div class="column1">
        <div class="container1">
            <div class="row1">
                <h1 style="font-family: 'Satisfy', cursive">Cake Geeks</h1>
                <h5>Your Number One Cake Shop</h5>
            </div>
            <div class="row2">
                <img th:src="@{/auth/Cake_Monochromatic.svg}">
            </div>
        </div>
    </div>
    <div class="divider">
    </div>
    <div class="column2">
        <div class="row1" id="login-div" style="">
            <div class="row1">
                <h1 class="column-header"> Login </h1>
            </div>
            <form class="form-field" method="POST">
                <fieldset class="form-group">
                    <input type="text" name="username" placeholder="Username" class="textinput form-control login-form">
                    <input type="password" name="password" placeholder="Password" class="textinput form-control login-form">
                </fieldset>
                <div class="row3" style="width: 100%">
                    <button class="button-fill" type="submit" style="width: 100%">Login</button>
                </div>
            </form>
            <small class="text-muted">
                Doesn't have an account? <a class="ml-2" id="register-goto">Sign Up</a>
            </small>
        </div>
        <div class="row1" id="register-div" style="display: none;">
            <h1 class="register-header">Sign Up</h1>
            <form id="register-form" method="POST">
                <fieldset>
                    <input type="text" name="username" placeholder="Username" class="textinput form-control login-form">
                    <input type="email" name="email" placeholder="Email" class="textinput form-control login-form">
                    <input type="password" name="password" placeholder="Password" class="textinput form-control login-form">
                    <input type="password" name="password2" placeholder="Re-type password" class="textinput form-control login-form">
                </fieldset>
                <div class="row3" style="width: 100%">
                    <button class="button-fill" type="submit" id="register_submit">Daftar</button>
                </div>
            </form>
            <small class="text-muted">
                Already have account? <a class="ml-2" id="login-goto">Login</a>
            </small>
        </div>

    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script>
    $("#login-signup1").click(function() {
        $('#login-div').hide();
        $('#register-div').show();
        $('#login-signup1').hide();
        $('#login-signup2').show();
    });

    $("#register-goto").click(function() {
        $('#login-div').hide();
        $('#register-div').show();
        $('#login-signup1').hide();
        $('#login-signup2').show();
    });

    $("#login-goto").click(function() {
        $('#register-div').hide();
        $('#login-div').show();
        $('#login-signup1').show();
        $('#login-signup2').hide();
    });

    $("#login-signup2").click(function() {
        $('#register-div').hide();
        $('#login-div').show();
        $('#login-signup1').show();
        $('#login-signup2').hide();
    });


    $("#register-div").on("submit", "#register-form", (e) => {
        e.preventDefault();
        let requestBody = {
            'username': $("#register-div [name=username]").val(),
            'email': $("#register-div [name=email]").val(),
            'password': $("#register-div [name=password]").val(),
            'verifyPassword': $("#register-div [name=password2]").val(),
        };
        const url = window.location.href;
        const registerUrl = url + "/auth/register";
        fetch(registerUrl, {
            method: 'POST',
            headers: {
                "Access-Control-Allow-Origin": "*",
                "Access-Control-Allow-Methods": "DELETE, POST, GET, OPTIONS",
                "Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization",
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestBody)
        }).then(response => {
            console.log(response.status);
            response.json().then((data) => {
                console.log(response.headers);
                console.log(data);
                if (response.status === 200) {
                    const successMessage = $('<p class="invalid-feedback" id="register-success" ><strong> Akun berhasil dibuat, silahkan login</strong></p>')
                    $('#register-div').hide();
                    $('#login-div').show();
                    successMessage.insertBefore($('#login-div [name=username]'));
                } else {
                    const message = data.message;
                    const failMessage = $(`<p class="error-message"><strong>error message: ${message}</strong></p>`);
                    failMessage.insertBefore($('#register-div [name=username]'));
                }
            });
        });
    })

    $("#login-div").on("submit", ".form-field", (e) => {
        e.preventDefault();
        const username =  $("#login-div [name=username]").val();
        console.log(username);
        const password = $("#login-div [name=password]").val();
        let requestBody = {
            'username': username,
            'password': password
        };
        const url = window.location.hostname;
        const loginUrl = "auth/login";
        console.log(url);
        fetch(loginUrl, {
            method: 'POST',
            headers: {
                "Access-Control-Allow-Origin": "*",
                "Access-Control-Allow-Methods": "DELETE, POST, GET, OPTIONS",
                "Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization",
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestBody)
        }).then(response => {
            console.log(response.status);
            response.json().then((data) => {
                console.log(response.headers);
                console.log(data);
                console.log(data.Authorization);
                if (response.status === 200) {
                    localStorage.setItem("jwtToken", data.Authorization);
                    localStorage.setItem("username", data.username);
                    window.location = "dashboard";
                } else {
                    const message = data.message;
                    const failMessage = $(`<p class="error-message"><strong>error message: ${message}</strong></p>`);
                    failMessage.insertBefore($('#login-div [name=username]'));
                }
            });
        }).catch(e => {
            const failMessage = $(`<p class="error-message"><strong>error message: unknown_error</strong></p>`);
            failMessage.insertBefore($('#login-div [name=username]'));
            console.log(e);
        })
    });
</script>
</html>