<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CakeGeeks </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/addTopping.css}">

    <script>
        const func = () => {
            const authorizeUrl = "auth/authorize"
            const authorization = "Bearer " + localStorage.getItem("jwtToken");
            fetch(authorizeUrl, {
                method: 'GET',
                headers: {
                    "Authorization": authorization,
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Methods": "DELETE, POST, GET, OPTIONS",
                    "Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization",
                    'Content-Type': 'application/json'
                },
            }).then(response => {
                response.json().then((data) => {
                    if (response.status === 200) {
                        localStorage.setItem("jwtToken", data.Authorization);
                    } else {
                        localStorage.clear();
                        window.location.href = "/";
                    }
                });
            }).catch(e => {
                localStorage.clear();
                window.location.href = "/";
            });
        }
        func();
    </script>
</head>
<body>
<nav class="mb-4 navbar navbar-expand-lg navbar-dark" id="navbar-main">
    <a class="navbar-brand ml-3" style="font-family:Ubuntu">CakeGeeks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText1" aria-controls="navbarText1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText1">
        <ul class="navbar-nav ml-auto">
        </ul>
    </div>
</nav>

<div class="container">
    <form id="formCake">
        <h3> Select Your Base Cake </h3>
        <select name="type" class="form-control-lg" id="cakeType">
            <option selected disabled></option>
            <option value="cheese cake">Cheese Cake</option>
            <option value="chiffon cake">Chiffon Cake</option>
        </select>
        <h3> Select Your Base Customize </h3>
        <select name="base" class="form-control-lg" id = "customize">
            <option selected disabled></option>
            <option value="less sugar">Less Sugar</option>
            <option value="og">Original</option>
        </select>
        <br>
        <br>
        <button class="btn btn-info" id ="topping">Pilih Topping</button>
    </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script>
    $("#formCake").submit(function(e) {
        e.preventDefault();
        var a = document.getElementById("cakeType").selectedIndex;
        var b = document.getElementsByTagName("option")[a].value;
        var cake = b;
        var c =  document.getElementsByTagName("option").value = document.getElementById("customize").selectedIndex;
        var d = document.getElementById("customize").getElementsByTagName("option")[c].value;
        var custom = d;
        const request_body = {"cake":cake, "custom":custom}

        $.ajax({
            method : 'POST',
            url : window.location.href.replace("addcake","nextstep"),
            data : JSON.stringify(request_body),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
                console.log(response)
                window.location.href = window.location.href.replace("addcake",response.id+"/addTopping") ;
            },
            error: function(error){
                console.log(error.responseText)
            },
        });
    });
</script>
</html>
