.container {
    margin-left: 37%;
    margin-top: 12
    %;
}

h1 {
    text-align : justify;
    font-weight :800
}


h3{
    font-size: 25px;
    font-weight: 500;
}

#submitTopping {
    margin-left: 3%;
}

.topping {
    margin-left: 2.3%;
}

