:root {
  --accent: #8fd1f2;
}

[v-cloak] {
  display: none;
}

.boardal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boardal__mask {
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.boardal__wrapper {
  position: relative;
  width: 65vw;
  max-width: 60em;
  min-width: 30em;
  max-height: 65vh;
  height: 30em;
  background: #fff;
  color: #333;
  display: flex;
  flex-direction: var(--cross, column);
  border-radius: 0.2em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1em 2em -1em;
}
.boardal__x {
  cursor: pointer;
  font-size: 2em;
  line-height: 0.5;
  opacity: 0.15;
}
.boardal__x:hover {
  opacity: 0.65;
}
.boardal-enter-active, .boardal-leave-active {
  transition: opacity 0.25s;
}
.boardal-enter, .boardal-leave-to {
  opacity: 0;
}

article {
  flex: 1 1 100%;
  height: 100%;
  display: flex;
  flex-direction: var(--axis, row);
  overflow: hidden;
}

section {
  width: 100%;
  visibility: hidden;
  flex: 0 0 100%;
  padding: 2em;
  overflow: auto;
  will-change: transform;
  transform: translate(var(--x, 0%), var(--y, 0%));
  transition: transform 300ms ease-out;
  position: relative;
}
section h2, section h3, section h4 {
  margin-top: 0;
}
section.current {
  visibility: visible;
}

footer {
  position: relative;
  text-align: right;
  display: flex;
  flex-direction: var(--axis-reverse, row-reverse);
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
}
footer:not(:empty) {
  padding: 1em;
}

.step-dots {
  display: flex;
  flex-direction: var(--axis, row);
}

.step-dot {
  cursor: pointer;
  width: 1em;
  height: 1em;
  margin: 0.5ch;
  border-radius: 1em;
  background: currentColor;
  opacity: 0.2;
  transition: transform 100ms ease-out, opacity 150ms linear;
}
.step-dot.active {
  opacity: 0.7;
  box-shadow: 0 0 1em -0.25em;
}
.step-dot:hover {
  transform: scale(1.2);
}

.forward-actions,
.back-actions {
  flex: 1;
  display: flex;
  flex-direction: var(--axis, row);
}

.forward-actions {
  justify-content: flex-end;
}

.back-actions {
  justify-content: flex-start;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: var(--accent);
}

del {
  color: #ca1e34;
  font-style: italic;
}

p {
  line-height: 1.5;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background: snow;
  color: #333;
}

button {
  outline: none;
  font: inherit;
  line-height: 1;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.35em;
  color: rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.05);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  transition: transform 50ms ease-out;
  will-change: transform;
}
button:active {
  transform: scale(0.95);
}
button:focus {
  border-color: var(--accent);
  box-shadow: 0 0 1em 0 var(--accent);
}
button[disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}
button.primary {
  border-color: transparent;
  background: transparent;
  font-weight: bold;
}
button.primary:not([disabled]) {
  color: var(--accent);
}
button.accent {
  background: var(--accent);
}
button.accent:not([disabled]) {
  color: #fff;
}
button.secondary {
  border-color: transparent;
  background: transparent;
}
button.secondary:not([disabled]) {
  color: rgba(0, 0, 0, 0.4);
}
button.cancel:not([disabled]) {
  color: var(--accent);
}