@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Satisfy&family=Ubuntu&display=swap');

body {
    --sky-blue: #68E1FD;
    --ocean-blue: #613DC1;
    --secondary-clr: #F3EAF4;
    --tertiary-clr: #E5CEDC;
    --gradient-helper: #BCA3AC;
    font-family: 'Ubuntu', sans-serif;
}

.main-content {
    margin-left: 35%;
}

.row2 {
    margin-left: 4%;
    margin-bottom: 5%;
}

.pilih {
    margin-left: 15%;
}

nav {
    background: var(--tertiary-clr) !important;
}

.nav-item , .navbar-brand{
    font-weight: bold !important;
}

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}