.big-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0.5em 0 2em 0;
    flex-wrap: wrap;
}

.divider {
    width: 2em;
}

.column2 {
    margin-left: 5em;
    padding: 0 2em;
    align-items: center;
    justify-content: center;
}

.column-header {
    margin: 2rem 0;
    font-size: 3rem !important;
    font-weight: 700 !important;

}

.register-header {
    font-size: 2rem !important;
    font-weight: 600 !important;
}

#login-div {
    background-color: #F9F9F9;
    border-radius: 10px;
    padding: 2em 3em 6em 3em;
}

#register-div {
    background-color: #F9F9F9;
    border-radius: 10px;
    padding: 1em 2em;
}

.row1, .row2, .row3 {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 336px;
    /*width: 100%;*/
    margin: 2em 0 0 0;
}

.row3 {
    margin: 1em 0 0 0;
}

.row4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 1em 0 0 0;
}

.ml-2, .ml-2:hover, #login-goto, #register-goto {
    text-decoration: none;
    color: var(--ocean-blue);
}

.row1 h1 {
    font-size: 4rem;
    font-weight: 900;
}

.button-fill, .button-outline {
    border-radius:4px;
    cursor:pointer;
    padding:10px 31px;
    text-decoration:none;
    margin-bottom: 1em ;
    width: 12em;
    text-align: center;
}

.button-fill {
    background-color: var(--sky-blue);
    border:1px solid #ffffff;
    color:#ffffff;
}
.button-fill:hover {
    background-color: var(--ocean-blue);
    text-decoration:none;
    color:#ffffff;

}
.button-fill:active, .button-outline:active {
    position:relative;
    top:1px;
}

.button-fill:disabled {
    background-color:#e0dfdf;
    color:#7c7c7c;
    cursor: auto;
}

.button-outline {
    background-color:#ffffff;
    border:1px solid var(--ocean-blue);
    color: var(--sky-blue);
}
.button-outline:hover {
    background-color: var(--sky-blue);
    color: #ffffff;
    text-decoration: none;
}

.cancel {
    background-color:#ff5959;
    border:1px solid #ffffff;
    color:#ffffff;
}

.cancel:hover {
    background-color:#ff4444;
    border:1px solid #ffffff;
    color:#ffffff;
}

/* django forms overide*/
.asteriskField {
    display: none;
}

#register-div2 {
    display: none;
    width: auto;
    position: fixed;
    background: white;
    z-index: 2;
    border: 2px solid #00bfa6;
    bottom: 2em;
    right: 15em;
    border-radius: 10px;
    padding: 20px 20px;
}

.textinput.form-control, .emailinput.form-control {
    background-color: white;
    border: 2px solid var(--sky-blue);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1.3em 0.75em;
    width: 21em;
}

.close-button {
    border-radius:4px;
    cursor:pointer;
    padding: 5px;
    text-decoration:none;
    margin-bottom: 1em ;
    text-align: center;
    right: 3px;

    background-color:#fc5f4a;
    border:1px solid #ffffff;
    color:#ffffff;
}

.login-form {
    border: 2px solid #00bfa6;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1.3em 0.75em;
    width: 17rem !important;

}

.form-field {
    width: 17em;
}


#hint_id_password1, #hint_id_password2, #hint_id_username  {
    display: none;
}

.invalid-feedback {
    max-width: 21rem;
    display: block;
}

#register-success {
    font-size: 90%;
    color: #00bfa6;
}

input:focus {
    outline: none;
    display: block;
}


.error-message {
    font-family: "Courier New", monospace;
    font-weight: bold;
    border: #ff4444 solid 1px;
    border-radius: 5px;
    background-color: pink;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    padding: 10px;
    color: #ff4444;
    overflow-wrap: anywhere;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#history{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

table {
    width: 100%;
}

#tablebody td, #tablehead th {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
}

#tablehead tr {background-color: var(--tertiary-clr);}

#tablebody tr:nth-child(even){background-color: #f2f2f2;}

#tablebody tr:hover {background-color: #ddd;}
