<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}">
    <style>
p , ul{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 25px;
text-align: left;
}
.judul{
position: absolute;
width: 315px;
height: 37px;
left: 162px;
top: 112px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;
}
.detail-box{
position: absolute;
width: 450px;
height: 328px;
left: 162px;
top: 170px;

background: #C4C4C4;
border-radius: 5px;
}

.judul2{
position: absolute;
width: 315px;
height: 37px;
left: 100px;
top: 500px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;
text-align: center;

color: #000000;
}
.box-harga{
position: absolute;
width: 450px;
height: 58px;
left: 162px;
top: 557px;

background: #C4C4C4;
border-radius: 5px;
}
.button{
position: absolute;
width: 259px;
height: 58px;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 5px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 45px;
text-align: center;

color: #000000;
}
.button1{
left: 1094px;
top: 364px;

background: #C4C4C4;
}
.button2{
left: 1094px;
top: 450px;

background: #FFFFFF;
}
.button3{
left: 933px;
top: 433px;

background: #C4C4C4;
border-radius: 5px;
}
.endtext {
    position: absolute;
    width: 426px;
    height: 37px;
    left: 949px;
    top: 300px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    text-align: center;

    color: #000000;
}
</style>
    <meta charset="UTF-8">
    <title>Transaction</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        const func = () => {
            const authorizeUrl = "/auth/authorize"
            const authorization = "Bearer " + localStorage.getItem("jwtToken");
            fetch(authorizeUrl, {
                method: 'GET',
                headers: {
                    "Authorization": authorization,
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Methods": "DELETE, POST, GET, OPTIONS",
                    "Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization",
                    'Content-Type': 'application/json'
                },
            }).then(response => {
                response.json().then((data) => {
                    if (response.status === 200) {
                        localStorage.setItem("jwtToken", data.Authorization);
                    } else {
                        localStorage.clear();
                        window.location.href = "/";
                    }
                });
            }).catch(e => {
                localStorage.clear();
                window.location.href = "/";
            });
        }
        func();
    </script>
</head>
<body>
<nav class="mb-4 navbar navbar-expand-lg navbar-dark" id="navbar-main">
    <a class="navbar-brand ml-3">CakeGeeks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText1" aria-controls="navbarText1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText1">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-3">
                <a class="nav-link waves-effect waves-light" id="sign-out">Sign out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="judul">Detail Pesanan</div>
<div class= "detail-box">
    <p></p>
    <p ><ul><li th:text="${cake_name}"></li></ul></p>
</div>
<div class="judul2">Total Harga</div>
<div class= "box-harga">
    <p th:text="${'RP.'+cake_price }"></p>
</div>
<div th:if="${state == 'Start State'}">
    <form action="/transaction/ordersuccess" method="post" id="form-transaction">
        <button type="submit" class="button button1">Checkout</button>
    </form>
    <form action="/dashboard" method="get">
        <button class="button button2">Batalkan</button>
    </form>
</div>
<div th:unless="${state == 'Start State'}">
    <form action="/dashboard" method="get">
        <button class="button button3">Pickup</button>
    </form>
    <div class="endtext"><p th:text="${state}"></p></div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    const name = [[${cake_name}]];
    const price = [[${cake_price}]];
    const type = [[${cake_type}]];

    /*]]>*/

    $("div").on("submit", "#form-transaction", (e) => {
        const requestBody = {
            "cakeName": name,
            "price": price,
            "type": type
        };

        fetch("/history", {
            method: 'POST',
            headers: {
                "Authorization": "Bearer " + localStorage.getItem("jwtToken"),
                "Access-Control-Allow-Origin": "*",
                "Access-Control-Allow-Methods": "DELETE, POST, GET, OPTIONS",
                "Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization",
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestBody)
        }).then((response) => {
            console.log(response.status);
            return response.status === 200;
        }).catch(() => {
           window.location.href = "/";
        });
    });
</script>
</html>
