<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CakeGeeks </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/addTopping.css}">

    <script>
        const func = () => {
            const authorizeUrl = "/auth/authorize"
            const authorization = "Bearer " + localStorage.getItem("jwtToken");
            fetch(authorizeUrl, {
                method: 'GET',
                headers: {
                    "Authorization": authorization,
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Methods": "DELETE, POST, GET, OPTIONS",
                    "Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization",
                    'Content-Type': 'application/json'
                },
            }).then(response => {
                response.json().then((data) => {
                    if (response.status === 200) {
                        localStorage.setItem("jwtToken", data.Authorization);
                    } else {
                        localStorage.clear();
                        window.location.href = "/";
                    }
                });
            }).catch(e => {
                localStorage.clear();
                window.location.href = "/";
            });
        }
        func();
    </script>
</head>
<body>
<nav class="mb-4 navbar navbar-expand-lg navbar-dark" id="navbar-main">
    <a class="navbar-brand ml-3">CakeGeeks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText1" aria-controls="navbarText1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText1">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-3">
                <a class="nav-link waves-effect waves-light" id="sign-out">Sign out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 th:text="${cake.getType()}"></h1>
    <form class ="form-topping" id="formTopping" action="">
        <h3> Topping </h3>
        <select class="form-control-lg" id="toppings0">
            <option selected disabled></option>
            <option value="Almond">Almond</option>
            <option value="Candy">Candy</option>
            <option value="Cheese">Cheese</option>
            <option value="Fruits">Fruits</option>
            <option value="IcingFondant">Icing Fondant</option>
            <option value="WhippedCream">Whipped Cream</option>
        </select>
        <br>
        <br>
        <div id="inner"></div>
        <div class="d-grid gap-2 d-md-block">
            <button id = "moreTopping" class="btn btn-outline-secondary btn-md topping" type="button"> + Tambah Topping</button>
            <br>
            <br>
            <button class="btn btn-primary btn-lg" id = "submitTopping" >Buat Kue</button>
        </div>
    </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script>
    var count = 1;
    $(document).ready(function(){
        $("#moreTopping").click(function() {
            $("#inner").append("<h3> Topping </h3>");
            var id = "toppings" + count++;
            var res = "<select class='form-control-lg' id = " + id + "> <option selected disabled></option> <option value='Almond'>Almond</option>  <option value='Candy'>Candy</option><option value='Cheese'>Cheese</option><option value='Fruits'>Fruits</option> <option value='IcingFondant'>Icing Fondant</option> <option value='WhippedCream'>Whipped Cream</option> </select>"
            $("#inner").append(res)
            $("#inner").append("<br>")
            $("#inner").append("<br>")
        });
        $("#formTopping").submit(function(e) {
            e.preventDefault();
            var x = document.getElementById("toppings0").selectedIndex;
            var y = document.getElementsByTagName("option")[x].value;
            var toppings = y;
            for (i = 1; i < count; i++){
                var id = "toppings" + i;
                var x = document.getElementById(id).selectedIndex;
                var y = document.getElementsByTagName("option")[x].value;
                toppings += " " + y;
            }
            const request_body = {"toppings" : toppings};
            $.ajax({
                method : 'POST',
                url : window.location.href,
                data : JSON.stringify(request_body),
                contentType: "application/json; charset=utf-8",
                success: function(response) {
                    let urls = response.id +"/addTopping";
                    let rd = "transaction/" + response.id + "/order";
                    window.location.href = window.location.href.replace(urls, rd);
                },
                error: function(response){
                    alert("error");
                },
            });
        });
    });

</script>
</html>
