<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>CodePen - Boardal — An Onboarding Modal with Vue.js</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" href="/styless.css">

</head>
<body>
<!-- partial:index.partial.html -->
<main v-cloak>
    <p><button class="accent" @click="toggleModal()">Onboard Me!</button></p>

    <!--  The Modal -->
    <boardal v-if="modal.isOpen" :has-mask="modal.hasMask" :can-click-mask="modal.canClickMask" :has-x="modal.hasX" @toggle="toggleModal">
        <article v-cloak>
            <section>
                <div class="container">
                    <form id="formCake">
                        <h3> Select Your Base Cake </h3>
                        <select name="type" class="form-control-lg" id="cakeType">
                            <option selected disabled></option>
                            <option value="cheese cake">Cheese Cake</option>
                            <option value="chiffon cake">Chiffon Cake</option>
                        </select>
                        <h3> Select Your Base Customize </h3>
                        <select name="base" class="form-control-lg" id = "customize">
                            <option selected disabled></option>
                            <option value="less sugar">Less Sugar</option>
                            <option value="og">Original</option>
                        </select>
                        <br>
                        <br>
                    </form>
                    <p><button class="accent" id ="topping" @click="skip(1)">Pilih Topping</button></p>
                    <!--         <p><label><input type="checkbox" v-model="xray" :true-value="'visible'" :false-value="'hidden'" /> X-ray Vision</label></p> -->
            </section>
            <section>
                <div class="container">
                    <form class ="form-topping" action="">
                        <h3> Topping </h3>
                        <select class="form-control-lg" id="toppings0">
                            <option selected disabled></option>
                            <option value="Almond">Almond</option>
                            <option value="Candy">Candy</option>
                            <option value="Cheese">Cheese</option>
                            <option value="Fruits">Fruits</option>
                            <option value="IcingFondant">Icing Fondant</option>
                            <option value="WhippedCream">Whipped Cream</option>
                        </select>
                        <br>
                        <br>
                        <div id="inner"></div>
                        <div class="d-grid gap-2 d-md-block">
                            <button id = "moreTopping" class="btn btn-outline-secondary btn-md topping" type="button"> + Tambah Topping</button>
                            <br>
                            <br>
                            <button class="btn btn-primary btn-lg" id = "submitTopping" >Buat Kue</button>
                        </div>
                    </form>
                </div>
            </section>
        </article>
        <footer>
            <div class="forward-actions">
                <!--         <button class="secondary skip" :disabled="isLastStep" v-show="!isLastStep" @click="skip(2)">Skip</button> -->
                <button class="primary next" :disabled="isLastStep" v-show="!isLastStep" @click="skip(1)"><i class="fa fa-fw fa-lg" :class="nextIcon"></i></button>
                <button class="accent save" :disabled="!isLastStep" v-show="isLastStep" @click="finish"><i class="fa fa-fw fa-lg fa-check"></i></button>
            </div>
            <div class="step-dots" v-if="hasDots">
                <div class="step-dot" v-for="n in max" :class="{active: n == step}" @click="goToStep(n)"></div>
            </div>
            <div class="back-actions">
                <button class="secondary cancel prev" :disabled="isFirstStep" xv-show="!isFirstStep" @click="skip(-1)"><i class="fa fa-fw fa-lg" :class="backIcon"></i></button>
            </div>
        </footer>
    </boardal>
</main>
<!-- partial -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $("#formCake").submit(function(e) {
        e.preventDefault();
        var a = document.getElementById("cakeType").selectedIndex;
        var b = document.getElementsByTagName("option")[a].value;
        var cake = b;
        var c =  document.getElementsByTagName("option").value = document.getElementById("customize").selectedIndex;
        var d = document.getElementById("customize").getElementsByTagName("option")[c].value;
        var custom = d;
        const request_body = {"cake":cake, "custom":custom}

        $.ajax({
            method : 'POST',
            url : window.location.href.replace("addcake","nextstep"),
            data : JSON.stringify(request_body),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
                console.log(response)
            },
            error: function(error){
                console.log(error.responseText)
            },
        });
    });
    var count = 1;
        $("#moreTopping").click(function(){
            console.log("print")
            $("#inner").append("<h3> Topping </h3>");
            var id = "toppings" + count++;
            var res = "<select class='form-control-lg' id = " + id + "> <option selected disabled></option> <option value='Almond'>Almond</option>  <option value='Candy'>Candy</option><option value='Cheese'>Cheese</option><option value='Fruits'>Fruits</option> <option value='IcingFondant'>Icing Fondant</option> <option value='WhippedCream'>Whipped Cream</option> </select>"
            $("#inner").append(res)
            $("#inner").append("<br>")
            $("#inner").append("<br>")
        });
        $("#submitTopping").click(function() {
            var x = document.getElementById("toppings0").selectedIndex;
            var y = document.getElementsByTagName("option")[x].value;
            var toppings = y;
            for (i = 1; i < count; i++){
                var id = "toppings" + i;
                var x = document.getElementById(id).selectedIndex;
                var y = document.getElementsByTagName("option")[x].value;
                toppings += " " + y;
            }
            const request_body = {"toppings" : toppings};

            $.ajax({
                method : 'POST',
                url : window.location.href.replace("addTopping","success"),
                data : JSON.stringify(request_body),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    console.log(response)
                },
                error: function(){
                    alert("error")
                },
            });

        });
</script>
<script src='https://unpkg.com/vue'></script><script  src="/script.js"></script>

</body>
</html>
